---
layout: default
redirect_from: /Gallery/index.html
title: Junkship - Gallery
---

<div class="row">
    <div class="col-md-12 gallery">
        <div class="page-header">
        <h1>Screenshots gallery <small>Screenshots of the game in various states of development</small></h1>
        </div>

        <div id="gallery-carousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                {% for i in site.data.gallery.images %}
                    {% if forloop.index == 1 %}
                <li data-target="#gallery-carousel" data-slide-to="0" class="active"></li>
                    {% else %}
                <li data-target="#gallery-carousel" data-slide-to="{{ forloop.index | minus:1 }}"></li>
                    {% endif %}
                {% endfor %}
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                {% for i in site.data.gallery.images %}
                    {% if forloop.index == 1 %}
                <div class="item active">
                    {% else %}
                <div class="item">
                    {% endif %}
                    <img src="{{ i.url }}" alt="{{ i.title }}" />
                    <div class="carousel-caption">
                        <h3>{{ i.title }}</h3>
                        <p>{{ i.description }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#gallery-carousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#gallery-carousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function() {
        $('.carousel').carousel({});
    });
</script>
