    </section>
    <div class="row">
        <div class="col-md-12">
            <div id="footer" class="text-light">
                <p class="copyright">Junkship.net &copy; 2020 <a href="https://www.sharpoblunto.com">Glenn Conner</a>, Luke Smith, and other contributors.</p>              
            </div>
        </div>
    </div>
</div>


<script src="/scripts/jquery-3.5.1.slim.min.js"></script>
<script src="/scripts/bootstrap.bundle.min.js"></script>
<script type="text/javascript">
    //run any deferred jquery callbacks now
    if (typeof jQuery !== "undefined")
    {
        $.each(q,function(i,f){$(f)});
    }
</script>
<script type="text/javascript">
    var planets = document.getElementById('planets');
    var asteroids = document.getElementById('asteroids');
    asteroids.style.height = $(document).height()+'px';
    var scroll = window.requestAnimationFrame ||
                 window.webkitRequestAnimationFrame ||
                 window.mozRequestAnimationFrame ||
                 window.msRequestAnimationFrame ||
                 window.oRequestAnimationFrame;
                                                        
    function loop(){
        planets.style.transform = 'translate3d(0px,' + (window.pageYOffset * -0.01)+'px,0px)';
        asteroids.style.transform = 'translate3d(0px,' + (window.pageYOffset * -0.1)+'px,0px)';
        scroll(loop);
    }
    scroll(loop);
</script>
