<script type='text/javascript'>window.q=[];window.$=function(f){q.push(f)}</script>
<div id="stars"></div>
<div id="planets"></div>
<div id="asteroids"></div>
<div class="container">
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button">
                <span class="icon-bar" ></span>
                <span class="icon-bar" ></span>
                <span class="icon-bar" ></span>
            </button>
            <a class="navbar-brand" href="/">Junkship</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/">News</a></li>
                <li><a href="/gallery">Gallery</a></li>
                <li><a href="/download">Download</a></li>
                <li class="nav-extra"><a id="nav-twitter" href="https://twitter.com/intent/user?screen_name=mr_sharpoblunto">Follow on twitter</a></li>
                <li class="nav-extra"><a id="nav-rss" href="/feed.xml">RSS</a></li>
            </ul>
        </div>
    </nav>
    <div class="byline">A game about being an interplanetary arms dealer in a procedurally generated universe</div>
    <section>

