<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="alternate" type="application/rss+xml" title="Rss" href="/feed.xml" />
    <link rel="apple-touch-icon" href="/assets/images/favicon-iphone.png"  />
    <link rel="shortcut icon" href="/favicon.ico" />
	<link href='//fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link type="text/css" rel="stylesheet" href="/assets/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="/assets/css/bootstrap-theme.min.css" />
    <link type="text/css" rel="stylesheet" href="/assets/css/highlight.css" />
    <link type="text/css" rel="stylesheet" href="/assets/css/site.css" />
</head>
