<script type='text/javascript'>window.q=[];window.$=function(f){q.push(f)}</script>
<div id="stars"></div>
<div id="planets"></div>
<div id="asteroids"></div>
<div class="container">
  <nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="/">Junkship</a>
    <button class="navbar-toggler" data-target="#navbarToggler" data-toggle="collapse" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation" type="button">
      <span class="navbar-toggler-icon" ></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarToggler">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a class="nav-link" href="/">News</a></li>
        <li class="nav-item"><a class="nav-link" href="/gallery">Gallery</a></li>
        <li class="nav-item"><a class="nav-link" href="/download">Download</a></li>
        <li class="nav-extra"><a class="nav-link" id="nav-twitter" href="https://twitter.com/intent/user?screen_name=mr_sharpoblunto">Follow on twitter</a></li>
        <li class="nav-extra"><a class="nav-link" id="nav-rss" href="/feed.xml">RSS</a></li>
      </ul>
    </div>
  </nav>
  <div class="byline">Creating a procedurally generated universe, one algorithm at a time.</div>
  <section>

