h1, h2, h3, h4, h5, h6 
{
    font-family: "roboto";
    font-weight: normal;
}

.container
{
    margin-top:100px;
}

section
{
	background-color: #fff;
}

.content 
{
    padding: 1rem;
}

.byline
{
    background-color: rgba(0,0,0,0.9);
    color: #fff;
    text-shadow: 0px 0px 2px #000;
    padding: 0.5rem 1rem;
}

#stars
{
    width: 100%;
    height: 100%;
    position: fixed;
    background-size: cover;
    background-image: url(/assets/images/layout/background-stars.jpg);
    z-index: -3;
    top:0px;
}

#planets
{
    top: 0px;
    z-index: -2;
    background: url(/assets/images/layout/background-planets.png) no-repeat scroll center center;
    width:100%;
    height:719px;
    position: fixed;
}

#asteroids
{
    top: 0px;
    z-index: -1;
    background: url(/assets/images/layout/background-asteroids.png) repeat-y scroll center center;
    width:100%;
    height:100%;
    position: fixed;
}

.navbar a {
    outline: 0;
}

.nav-extra
{
    display: block !important;
}

.navbar
{
    background-image: none;
    border-radius: 0;
    box-shadow: none;
    border: none;
    background-color: rgba(0,0,0,0.7);
    align-items:end;
}

.navbar-brand {
    background-image: url(/assets/images/layout/logo.png);
    width: 268px;
    height: 71px;
    background-size: cover;
    text-indent: -9999px;
}

#nav-twitter, #nav-rss
{
	width:26px;
	height:26px;
	text-indent:-9999px;
}

#nav-twitter
{
    background: url(/assets/images/twitter.png) no-repeat 0 0;
}

#nav-rss
{
    background: url(/assets/images/rss.png) no-repeat 0 0;
}

ul.navbar-nav li a
{
    margin: 0 0.625rem 0 0;
    font-size: 1.25rem;
    padding: 0 !important;
    text-shadow: none;
    color: #fff !important;
    font-family: "roboto";
}

@media (max-width: 991px)
{
    body 
    {
        background: #222;
    }

    .container 
    {
        margin-top: 0px;
    }
     
    #planets, #asteroids, #stars {
        display:none;
    }

    .nav-extra
    {
        display: none !important;
    }

    ul.navbar-nav
    {
        margin: 0.5rem 0 0 0;
    }
}

@media (max-width: 767px)
{
    .navbar-brand
    {
        width: 134px;
        height: 35px;
    }
}

figure.highlight pre {
  padding: 1rem;
}


/** footer styles */

#footer
{
	padding: 1rem;
	text-align:center;
}

/** gallery styles */

.gallery #gallery-carousel img 
{
    max-width: 100%;
}

/** blog post styles */

.post-content a img, .post-content p img
{
	display:block !important;
	margin: 1rem auto;
  max-width: 100%;
}

.post 
{
    margin-bottom: 2rem;
}

.news-archive ul
{
	list-style: none;
  padding-left: 0;
  margin-bottom: 1.0rem;
}

.news-archive ul ul
{
  padding-left: 1.0rem;
}

a.toggle {
    cursor: pointer;
}

.toggle-arrow {
    font-size: 12px;
    float: left;
    margin-right: 4px;
    margin-top: 4px;
}

.collapsed ul
{
	display: none;
}

#disqus_thread
{
    margin-top: 1rem;
}

/** download page styles */
.download .jumbotron 
{
  color: #fff;
  background: url(/assets/images/layout/background-download.jpg) no-repeat 0 0;
  background-size: cover;
  text-shadow: 0px 0px 3px #000;
	margin-bottom: 0px;
}

.download .jumbotron a.btn
{
    padding-left: 2rem;
    padding-right: 2rem;
}

.download .jumbotron p {
	margin-bottom: 2rem;
}
