h1, h2, h3, h4, h5, h6 
{
    font-family: "roboto";
    font-weight: normal;
}

h4 {
    font-size: 21px;
}

.container
{
    margin-top:100px;
}

section
{
	background-color: #fff;
}

.content 
{
    padding: 20px;
}

.byline
{
    background: #222;
    color: #fff;
    text-shadow: 0px 0px 2px #000;
    padding: 5px 5px 5px 20px;
}

#stars
{
    width: 100%;
    height: 100%;
    position: fixed;
    background-size: cover;
    background: url(/assets/images/layout/background-stars.jpg);
    z-index: -3;
    top:0px;
}

#planets
{
    top: 0px;
    z-index: -2;
    background: url(/assets/images/layout/background-planets.png) no-repeat scroll center center;
    width:100%;
    height:719px;
    position: fixed;
}

#asteroids
{
    top: 0px;
    z-index: -1;
    background: url(/assets/images/layout/background-asteroids.png) repeat-y scroll center center;
    width:100%;
    height:100%;
    position: fixed;
}

@media (max-width: 980px)
{
    body 
    {
        background: #000000;
    }

    .container 
    {
        margin-top: 0px;
        box-shadow: none;
    }
     
    #planets, #asteroids, #stars {
        display:none;
    }
}

.navbar 
{
    margin-bottom: 0px;
}

.navbar a {
    outline: 0;
}

.navbar-default
{
    background-image: none;
    border-radius: 0;
    box-shadow: none;
    border: none;
    background-color: rgba(0,0,0,0.7);
    height: 86px;
}

.nav-extra
{
    display: block !important;
}

.navbar-brand
{
    background-image: url(/assets/images/layout/logo.png);
    width: 268px;
    height: 71px;
    margin-top: 7px;
    margin-left: 20px;
    background-size: cover;
    text-indent: -9999px;
}

#nav-twitter, #nav-rss
{
	width:26px;
	height:26px;
	text-indent:-9999px;
}

#nav-twitter
{
    background: url(/assets/images/twitter.png) no-repeat 0 0;
}

#nav-rss
{
    background: url(/assets/images/rss.png) no-repeat 0 0;
}

ul.navbar-nav li a
{
    margin-right: 10px;
    height: 26px;
    padding: 0px;
    text-shadow: none;
    color: #fff !important;
    line-height: 26px;
    font-family: "roboto";
    font-size: 21px;
}

ul.navbar-nav
{
    margin-top: 50px;
}

@media (max-width: 767px)
{
    
    .nav-extra
    {
        display: none !important;
    }

    .navbar-default
    {
        height: auto;
    }

    .navbar-brand
    {
        width: 134px;
        height: 35px;
    }

    ul.navbar-nav
    {
        margin-top: auto;
        margin-left: 10px;
    }
}


/** footer styles */

#footer
{
	font-size:10px;
	padding: 10px;
	text-align:center;
	color:#ddd;
}

/** gallery styles */

.gallery #gallery-carousel {
    margin: 20px;
}

.gallery #gallery-carousel img 
{
    margin:0 auto;
    max-width: 100%;
}

.gallery .page-header 
{
    padding-left: 20px;
    padding-right: 20px;
}

/** blog post styles */

.content .pagination {
    width: 100%;
    text-align: center;
}

.post-content a img, .post-content p img
{
	display:block !important;
	margin: 20px auto;
    max-width: 100%;
}

.post 
{
    margin-bottom: 30px;
}

.post .label a
{
	color:#fff;
	text-decoration:none;
}

.news-archive
{
    margin-top: 20px;
}

.news-archive ul
{
	list-style: none;
    padding-left: 20px;
}

.news-archive a
{
	text-decoration:none;
}

a.toggle {
    cursor: pointer;
}

.toggle-arrow {
    font-size: 12px;
    float: left;
    margin-right: 4px;
    margin-top: 4px;
}

.collapsed ul
{
	display: none;
}

.readmore
{
	text-align:center;
	padding:10px;
}

#disqus_thread
{
    margin-top: 20px;
}

/** download page styles */
.download .jumbotron 
{
    color: #fff;
    background: url(/assets/images/layout/background-download.jpg) no-repeat 0 0;
    background-size: cover;
    text-shadow: 0px 0px 3px #000;
	margin-bottom: 0px;
}

.download .jumbotron a.btn
{
    padding-left: 30px;
    padding-right: 30px;
}

.download #mgdf 
{   
    color:#fff;
    margin-right: 20px;
    margin-left: 20px;
    background: #151515;
}

.download #mgdf .content
{
    padding: 20px 20px 40px 20px;
	margin-bottom: 20px;
}

.download #notify
{
    margin: 0px 20px 0px 20px;
	padding-bottom: 0px;
}

.download #notify form {
    margin-bottom: 20px;
}

.download .jumbotron p {
	margin-bottom: 30px;
}

/** bootstrap overrides */
.page-header
{
	padding-bottom: 0;
	margin: 20px 0px 10px;
}

.page-header h3
{
	line-height:20px;
}

.label {
    font-weight: normal;
}
